@use "../mixins";
@use "../variables" as *;

header{
    .navbar{
        @media (min-width:526px) and (max-width:768px) {
            padding: 2%;
            margin: 0;
        }

        @include mixins.row-evenly;
        
        ul{
            @include mixins.row-around;

            li{
                list-style: none;
    
                a{
                    text-decoration: none;
                    font-size: $fssmall;
                }
            }
        }
    }

}