@use "../mixins";
@use "../variables" as *;


#featured{
    @include mixins.column-center;

    .badge{
        background-color: $badgebg;
        font-size: $fsbadge;
    }

    .container{
        width: 60%;
        
        .card{
            h6{
                font-size: $fssmall;
            }
            .card-text{
                font-size: $fsbtn;
            }
            
        }
    }
    
}
