@use "../mixins";
@use "../variables" as *;


#contact{
    @include mixins.column-center;

    .badge{
        background-color: $badgebg;
        font-size: $fsbadge;
    }

    .description{
        font-size: $fssmall;
    }
}