@use "../mixins";
@use "../variables" as *;


#services{
    @include mixins.column-center;

    .badge{
        background-color: $badgebg;
        font-size: $fsbadge;
    }

    .description{
        font-size: $fssmall;
    }

    .card{
        @include mixins.column-center
    }
    
}