@use "../mixins";
@use "../variables" as *;


#team{
    @include mixins.column-center;
    background-color: $sectionbg;

    .badge{
        background-color: $badgebg;
        font-size: $fsbadge;
    }

    .description{
        font-size: $fssmall;
    }

    .container{
        width: 60%;
        .col{

            .card{
                h6{
                    font-size: $fssmall;
                }
                .card-text{
                    font-size: $fsbtn;
                }
            }
        }
    }
}