@use "../mixins";
@use "../variables" as *;

#section_welcome{
    background-image: url(../../../public/img/Image_Sass_P1/hero-bg-filter.jpg);
    height: 460px;
    background-size: cover;
    background-position: 10%;

    #bgimg{
        @include mixins.column-center;
        // Ne veut pas s'appliquer
        // backdrop-filter: opacity(50%);

        .container{
            @media (max-width: 526px) {
                padding: 5%;
                margin: 0;
            }

            @media (min-width:526px) and (max-width:768px) {
                padding: 5%;
                margin: 0;
            }
            margin: 5% 0% 0% 60px;
            padding-left: 9%;
            padding-top: 9.5%;
            // margin-top: 5%;
            // margin-left: 20%;
            button{
                font-size: $fsbtn;
            }
        }
    }
}