@use "../mixins";
@use "../variables" as *;

#section_welcome{
    background-image: url(../../../public/img/Image_Sass_P1/hero-bg.jpg);
    height: 460px;
    background-size: cover;
    background-position: 10%;

    #bgimg{
        @include mixins.column-center;
        height: 100%;
        // backdrop-filter: brightness(100%); // TODO Régler le filter

        .container{
            margin: 5% 0% 0% 77px;
            padding-left: 9%;
            // margin-top: 5%;
            // margin-left: 20%;
            button{
                font-size: $fsbtn;
            }
        }
    }
}