$fssmall: 12px;
$fsbtn: 10px;
$fsbadge: 9px;
$badgebg: #E7F1FD;
$sectionbg : #F5F9FD;
$border: 0.5px solid #E2EEFD;


:export{
    fssmall: $fssmall;
    fsbtn: $fsbtn;
    fsbadge:$fsbadge;
    badgebg: $badgebg;
    sectionbg: $sectionbg;
    border: $border;
}